@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
 

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

body {
    background: #30336b;
    font-family: "Inconsolata", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100vh;

  
}

.main-heading h1{
    margin-bottom: 25px;
}

button {
    display: inline-block;
    background: #010b14;
    color: #f4f4f4;
    border:0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px rgba(0,0,0,0.1);
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    transition: 400ms;
    text-decoration: none;
    padding: 12px ;
    cursor: pointer;
    outline: none;

    z-index: 100000;
    
  }

  button:hover {
    background-color:#e6b902;
    ;
    
  }
img{
    width:250px;
}
